<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9AU7zlwEI8F0RuT_KgFZsUGSb1_SUUTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>643152101184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ThreadsClone</string>
	<key>PROJECT_ID</key>
	<string>threads-f1179</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-f1179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643152101184:ios:aaa8b9b169ded23a6ac4a5</string>
</dict>
</plist>